CMakePresets.json
.DS_Store
.idea
.vscode
build
out
cmake-build-debug
cmake-build-debug-wsl
cmake-build-debug-mingw
cmake-build-debug-visual-studio
cmake-build-release
cmake-build-release-wsl
cmake-build-release-mingw
cmake-build-release-visual-studio
build-debug
build-release
.vs
x64-Debug
x64-Release
CMakeSettings.json
.cache

compile_commands.json 
testbuild

